// phone and tablet
@media only screen and (max-width: 600px) {
    .title {
        line-height: 6vw;
        font-size: 4vw;
        padding-left: 1vw;
    }
}

// desktop
@media only screen and (min-width: 600px) {
    .title {
        line-height: min(5vw, 1.5em);
        font-size: min(3vw, 1.5em);
        padding-left: 2.5mm;
    }
}