// phone & tablet
@media only screen and (max-width: 600px) {
    #dropdown {
        width: auto;
        height: auto;
        background-color: #222f;
        border-radius: 100vw;
        padding: 1.5vw;
        margin: 2.5mm 0 2.5mm 0;
        color: white;
    }

    #dropdown p {
        font-size: 4vw;
        line-height: 0;
    }

    #popup-wrapper {
        z-index: 1;
        width: 50vw;
        height: auto;
        position: fixed;
        left: 0;
        right: 0;
        margin: calc(2.5mm) auto;
    }

    #popup-content {
        z-index: 1;
        margin-top: 2mm;
        width: 100%;
        height: auto;
        padding: 2mm;
        background-color: #222f;
        border-radius: 5mm;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        line-height: 1.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

// desktop
@media only screen and (min-width: 600px) {
    #dropdown {
        width: auto;
        height: min-content;
        background-color: #222f;
        padding: 1.5vw;
        margin: 1vw 0 1vw 0;
        color: white;
    }

    #dropdown p {
        font-size: min(3vw, 1.5em);
        line-height: 0;
    }

    #popup-wrapper {
        width: 100%;
        height: 100%;
    }

    #popup-content {
        margin-top: 1vw;
        width: 33.3333vw;
        height: auto;
        padding: 1vw;
        background-color: #222f;
        border-radius: 2vw;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        line-height: 1.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

#dropdown {
    border-radius: 100vw;
}

#dropdown p {
    display: inline;
    white-space: nowrap;
}

#dropdown:hover {
    background-color: #333f;
    cursor: pointer;
}

.selected {
    background-color: #f44f !important;
}