// phone & tablet
@media only screen and (max-width: 600px) {
    #dropdown {
        width: auto;
        height: auto;
        padding: 1.5vw;
        
    }

    #dropdown p {
        font-size: 4vw;
        line-height: 0;
    }
}

// desktop
@media only screen and (min-width: 600px) {
    #dropdown {
        width: auto;
        height: min-content;
        padding: 1.5vw;
    }

    #dropdown p {
        font-size: min(3vw, 1.5em);
        line-height: 0;
    }
}

#dropdown {
    border-radius: 100vw;
    color: white;
    background-color: #222f;
}

#dropdown p {
    display: inline;
    white-space: nowrap;
}

#dropdown:hover {
    background-color: #333f;
    cursor: pointer;
}

.selected {
    background-color: #f44f !important;
}