.selected {
    background-color: #f44f !important;
}

#dropdown {
    width: auto;
    height: auto;
    background-color: #222f;
    border-radius: 1vw;
    position: relative;
    margin: 1vw;
    padding: 1vw;
    color: white;
}

#dropdown:hover {
    background-color: #333f;
    cursor: pointer;
}

#popup-content {
    margin-top: 1vw;
    width: 25vw;
    height: auto;
    padding: 1vw;
    background-color: lightblue;
    border-radius: 2vw;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}