#dropdown {
    width: auto;
    height: min-content;
    background-color: #222f;
    border-radius: 100vw;
    position: relative;
    margin: 1vw 0.5vw 0 0.5vw;
    padding: 1.5vw;
    color: white;
    // line-height: 0cm;
}

#dropdown:hover {
    background-color: #333f;
    cursor: pointer;
}

.selected {
    background-color: #f44f !important;
}

#popup-content {
    margin-top: 1vw;
    width: 25vw;
    height: auto;
    padding: 1vw;
    background-color: #222f;
    border-radius: 2vw;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    line-height: 1.5em;
    display: block;
}