.fretboard {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  width: 100vw;
  height: 30vw;
  // height: 30vw; /* 40% of viewport width */
  align-items: stretch;
}

#fretboard_canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  min-width: 0;
}