// phone or tablet
@media only screen and (max-width: 600px) {
    #prefs {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
}

// desktop
@media only screen and (min-width: 600px) {
    #prefs {
        width: min-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}