<div id="options" (click)="onSelectOption(null)">
    <!-- tuning options -->
    <dropdown label="Tuning" (click)="onSelectOption('tuning')" [selected]="selectedOption === 'tuning'">
        <p>Custom Tuning</p>
        <p>Standard</p>
        <p>Drop D</p>
        <p>DADGAD</p>
        <p>Open G</p>
    </dropdown>
    <!-- number of strings -->
    <dropdown label="Strings" (click)="onSelectOption('strings')" [selected]="selectedOption === 'strings'">
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
    </dropdown>
    <dropdown label="Scales" (click)="onSelectOption('scales')" [selected]="selectedOption === 'scales'">
        <p>Custom Scale</p>
        <p>Major</p>
        <p>Minor</p>
        <p>Harmonic Minor</p>
        <p>Melodic Minor</p>
        <p>Blues</p>
        <p>Pentatonic Major</p>
        <p>Pentatonic Minor</p>
    </dropdown>
</div>